// GRID
// ===========================================================================================
section {
  clear: both;
  padding: 0px;
  margin: 0px;
  //background:#fff;
}

@mixin createGrid($grid-cols : 12, $grid-spacing : 1.5%, $className : "span"){
  %clearfix:after {
    display:block;
    clear:both;
    content:'';
  }

 .row {
    @extend %clearfix;
    //float:left;
    margin:0;
    width:100%;
  }

  %gridElm{
      width:100%;
      float:left;
      margin-right:$grid-spacing;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;

      &:last-child {
          margin-right:0%;
      }

      &.last{ margin-left:0 !important;}
  }

  @for $i from 1 through $grid-cols {
    .#{$className}#{$i} {
       @extend %gridElm;
        @include breakpoint(tablet){
          width:  (100% / $grid-cols * $i) - $grid-spacing;
       }
     }
  }
}

@include createGrid();
