html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

::-webkit-input-placeholder {
   letter-spacing: 1px;
   font-family: monospace;
   font-style: oblique;
}

:-moz-placeholder { /* Firefox 18- */
   letter-spacing: 1px;
   font-family: monospace;
   font-style: oblique;
}

::-moz-placeholder {  /* Firefox 19+ */
   letter-spacing: 1px;
   font-family: monospace;
   font-style: oblique;
}

:-ms-input-placeholder {
   letter-spacing: 1px;
   font-family: monospace;
   font-style: oblique;
}


body {
	background:#eee;
	display: block;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica","Roboto", Arial, sans-serif;
    font-size:1em;
    overflow: hidden;
    min-height:800px;
    letter-spacing: 1px;
}

header{
	background:#002855;
	width:100%;
	float:left;
	padding:20px;
}

header h1 {
	font-size:125%;
	color:#fff;
	text-align: center;
}

#loginBox {
	float:left;
	width:100%;
	padding:10px;
	position:relative;
	z-index:9999999;
}

#loginBox form {
	margin:5% auto;
	width:90%;
	background:rgba(256,255,255,0.8);
	padding:20px;
	box-shadow: rgba(0,0,0,0.3) 0px 1px 16px -1px;
}
/* tablet */
@media (min-width: 48em) {
  #loginBox form {
  	margin:10% auto;
    width: 50%;
  }
}

#loginBox input {
	width:100%;
	padding:10px;
	outline:0;
	border:1px solid #ccc;
}

#loginBox input:focus {
	outline: 0;
	border:1px solid #005EB8;
}

#loginBox input[type=submit]{
	padding:15px 50px;
	background:#005EB8;
	border:none;
    cursor:pointer;
    margin-top:20px;
    color:#fff;
    text-transform: uppercase;
    width:initial;
}

.alignSubmit {
	text-align:right;
}

.hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.formHeader {
	width:100%;
	text-align:center;
}

.formHeader h2 {
	text-transform:uppercase;
	padding:10px 0;
	border-bottom:1px dotted #ccc;
	color:#002855;
	margin-bottom:20px;
}

.mfcs-logo{
	position:absolute;
	bottom:-5%;
	right:5%;
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
}

.error {
    padding:10px 20px;
    font-size:14px;
    color:#fff;
    background:#d9534f;
    text-shadow: 0px 0px 4px #651C1C;
    margin-bottom:20px;
}

img{
	width:300px;
	display:block;
	margin-left: auto;
	margin-right:auto;
}