/serverConfiguration/serverLogs/
/.vagrant/
/public_html/engineIncludes
/public_html/javascript/distribution
sessionLogin.php
*mfcs.sql*
SQLFiles/dump
public_html/includes/.sass-cache
3.1
SQLFiles/mfcs.2014.12.13.post.sql
SQLFiles/dump
.sass-cache
public_html/includes/css/base.css.map
SQLFiles/runMigrations.sh
SQLFiles/setMaxPacket.sql
node_modules
public_html/testVids.php
testVids
debug.txt
SQLFiles/mfcs_updatedDB.sql
