serverConfiguration/serverlogs/
access_logs
/.vagrant/
/public_html/engineIncludes
/public_html/javascript/distribution
sessionLogin.php
*mfcs.sql*
SQLFiles/dump
public_html/includes/.sass-cache
3.1
SQLFiles/mfcs.2014.12.13.post.sql
SQLFiles/dump
.sass-cache
public_html/includes/css/base.css.map
SQLFiles/runMigrations.sh
SQLFiles/setMaxPacket.sql
node_modules
public_html/testVids.php
testVids
debug.txt
SQLFiles/mfcs_updatedDB.sql
.DS_Store
Tests/Sample Virus Upload
gitpulls/
mysql/
data/
package.box
mfcs-1.box
mfcs-manual-exports/mcppc_2024-05-08_14-51-22.csv
mfcs-manual-processing/192268
mfcs-manual-processing/192270
mfcs-manual-processing/192379
mfcs-manual-processing/192379-old
public_html/public_html
serverConfiguration/3rdParty/php-5.3.3-23.el6_4.i686.rpm
serverConfiguration/3rdParty/php-clamav_0.15.8.tar.gz
SQLFiles/mfcs-*.sql