<phpunit colors="true" bootstrap="Tests/bootstrap.php">

		 <php>
		 	<var name="DB_DSN"    value="mysql:dbname=mfcs;host=localhost" />
		 	<var name="DB_USER"   value="username" />
		 	<var name="DB_PASSWD" value="passwordd" />
		 	<var name="DB_DBNAME" value="mfcs" />
		 </php>

		 <testsuites>
		 	<testsuite name="MFCS">
		 		<directory>Tests/</directory>
		 	</testsuite>
		 </testsuites>

</phpunit>
