/*********************************************************************
    Variables
**********************************************************************/

$primary-blue: #002855; 
$primary-orange: #EAAA00; 

$neutral-black: #2C2A29; 
$neutral-blue: #333F48; 
$neutral-lgray: #A2AAAD; 
$neutral-wgray1: #6E6259; 
$neutral-wgray2: #968C83; 
$neutral-wgray3: #BFB8AF; 

$accent-blue1: #0033A0; 
$accent-blue2: #005EB8; 
$accent-blue3: #9BD3DD; 
$accent-orange1: #4B3D2A; 
$accent-orange2: #9F7D23;
$accent-orange3: #E35205; 
$accent-orange4: #ED8B00; 
$accent-green1: #0D5257; 
$accent-green2: #708573; 
$accent-green3: #9ABEAA; 
$accent-red: #BE3A34; 
$accent-yellow: #FDDA24; 