#groupingsAdd li,
#fieldAdd li {
	margin-bottom: 10px;
}

ul.sortable {
	min-height: 10px;
}

ul.sortable li {
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

ul.sortable li:hover {
	border-style: dashed;
	border-color: #000;
}

ul.sortable .highlight {
	border-style: dashed;
	border-color: #000;
	min-height: 20px;
}

ul.sortable li.well {
	border-color: #000;
	margin-bottom: 0px;
}

#fieldPreview,
#fieldPreview ul {
	min-height: 50px;
}

#fieldPreview li {
	padding: 5px;
}