/* tables */
.table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.table thead tr .headerSortUp {
	background-image: url(asc.gif);
	background-color: #8dbdd8;
}
.table thead tr .headerSortDown {
	background-image: url(desc.gif);
	background-color: #8dbdd8;
}

/* *** */

.errorMessage {
	color: red;
}

.successMessage {
	color: green;
}

#breadcrumbs ul li.pull-right {
	margin-right: 10px;
}
#breadcrumbs ul li:before{
	content: '/';
	color: #999;
	margin: 0 6px;
}
#breadcrumbs ul li:first-child:before{
	content: none;
}
#breadcrumbs ul li.noDivider:before{
	content: none;
}

.pickList {
	list-style: none;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}
 
.pickList li {
	margin-bottom: 10px;
}

.pickList li a {
	width: 200px;
}

.pickListHeader {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	font-size: 110%;
}

#groupingsAdd li,
#fieldAdd li {
	margin-bottom: 10px;
}

ul.sortable {
	min-height: 10px;
}

ul.sortable li {
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

ul.sortable li:hover {
	border-style: dashed;
	border-color: #000;
}

ul.sortable .highlight {
	border-style: dashed;
	border-color: #000;
	min-height: 20px;
}

ul.sortable li.well {
	border-color: #000;
	margin-bottom: 0px;
}

#formPreview ul,
#formPreview li {
	min-height: 50px;
}

#formPreview li {
	padding: 5px;
}

.sortable i.icon-remove {
	position: absolute;
	display:none;
}

li:hover i.icon-remove {
	display:block;
	cursor: pointer;
}

#leftPanel.fix {
	position: fixed;
	top: 55px;
}

#GroupingsPreview li {
	position: relative;
	padding-left: 40px;
}

#GroupingsPreview li i.icon-remove {
	left: 9px;
}
div.filePreview{}
div.filePreview.open{
    border: 1px solid #333;
    width: 600px;
}
div.filePreview div{
    margin: 5px;
}
div.filePreview iframe{
    width: 100%;
    height: 300px;
}

#selectProjectsList{
    list-style: none;
    margin: 0;
}
#selectProjectsList input{
    margin: 0;
}
.groupingPreview ul.sortable {
    min-height: 25px;
}

.pagination_bar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.pagination_bar ul li{
	display: inline;
	padding: 0 5px;
}

label {
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}
label.formLabel{
	width: 200px;
}

.requiredField {
	font-weight: bold;
}

.multiSelectContainer {
	display: inline-block;
}

ul.checkboxList{
	list-style: none;
	margin: 5px;
}
ul.checkboxList label{
	width: initial;
}
div.checkboxList label{
	display: block;
}
#objectSubmitProcessing{
	display: none;
	width: 120px;
	background: url('processing.gif') no-repeat 135px 35px;
}