<form action="{phpself query="false"}" method="post" class="searchForm">
	{engine name="csrf"}

	<div class="searchBlock form-group well">
		<h3>Select a form to search</h3>
		<select name="formList" id="searchFormSelect">
			{mfcsSearch name="formList"}
		</select>
	</div>

	<div class="keywordBlock form-group well">
		<h3>Search Options </h3>
		<label for="query" class="sr-only sr-only-focusable"> Keyword </label>
		<input type="text" class="keyword" name="query" placeholder="for keyword"/>

		<span>in</span>
		<!-- Form Fields will be populated via ajax -->
		<select name="fieldList" id="formFieldsOptGroup">
			{mfcsSearch name="formFieldList"}
		</select>
	</div>

	<div class="dates form-group well">
		<div class="start">
			<label for="startDate">Start Date</label>
			<input type="input" name="startDate" class="dateField"  placeholder="mm/dd/yyyy"/>
		</div>
		<div class="end">
			<label for="endDate">End Date</label>
			<input type="input" name="endDate" class="dateField" placeholder="mm/dd/yyyy" />
		</div>
	</div>

	<div class="search">
		<input type="submit" name="search" class="btn" value="search"/>
	</div>

	<div class="thumbs form-group well">
		<label for="thumbnail">Display Thumbnails</label>
		<select name="thumbnail">
			<option value="false">No</option>
			<option value="true">yes</option>
		</select>
	</div>

</form>

<script>
	$('.dateField').datepicker({});
</script>