#content #right table {
	border-collapse: collapse;
	background-color: #FFFFFF;
	
	width: 600px;
}

#content #right table td, #content #right table th{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	
	padding: 10px;
}

#content #right table th {
	background-color: #dddcdc;
}

#content #right table td.options {
	color: #000000;
	font-weight: bold;
	text-align: center;
}

#content #right table td.info {
	vertical-align: top;
}

#content #right table td.blackLine {
	border-width: 2px;
	padding: 0;
}

/* Styles to handle when there is a <ul> in a table */

#content #right table td.tableLists {
	vertical-align: top;
}

#content #right table td.tableLists ul {
list-style: none;
}

#content #right table td.tableLists ul li {
margin-bottom: 9px;
line-height: .97em;
}